/* 
    Created on  : Notepad ++
    Author      : Elena de Antón Barrio
    File        : estilo9.css
    Description : Trabajando con selectores
*/

.padre ~ p{border-color:red;}
a[title]{color:#009cde;}
a[title="Titulo hijo 1"] {background-color:red;}
a[title~="hijo"]{font-size:2em;}


