/* 
    Created on : 29 abr. 2020
    Author     : Elena de Anton
*/

body{
    background-image: url(../03/images/cine.jpg);
    font-family:calibri;
    background-size: 70px;
    text-align: center;
}

h1{
    background-color: grey;
    color:white;
    font-weight:bold;
    margin-top: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

article{
    border: 2px solid black;
    background-color:lightgrey;
    width:30%;
    margin:10px;
    float:left;
}

table{
    position:relative;
}

span{
    font-size:30px;
    color:gold;
}
footer{
    background-color: grey;
    color:white;
    font-weight:bold;
    width:100%;
    padding:10px;
    position: absolute;
    bottom: 0;
}
